.inAreaPlacement {
  display: block;
}

.floatingPlacement {
  left: calc(50% - 25rem - 1.2rem);
  top: 72px;
  display: none;
}

.outside {
  max-height: min(50vh, 22rem);
  max-width: 16rem;
}

.intext {
  max-height: 16rem;
  max-width: 100%;
}

@media (min-width: 90.5rem) {
  .floatingPlacement {
    display: block;
  }

  .inAreaPlacement {
    display: none;
  }
}
