.dragBarContainer {
  width: clamp(4.5rem, 30%, 20rem);
  height: 1.2rem;
}

.dragBarContainer:hover {
  width: clamp(6rem, calc(30% + 1.5rem), 21.5rem);
  height: 1.3rem;
}

.dragBarContainerOn {
  width: clamp(6.75rem, calc(30% + 2.25rem), 22.25rem);
  height: 1.3rem;
}

.dragBar {
  width: calc(100% - 1.72rem);
  height: 45%;
}

.closeButton {
  d: path(
    "M512 1024c282.77 0 512-229.23 512-512S794.77 0 512 0 0 229.23 0 512s229.23 512 512 512Zm224.197-735.402c21.869-21.869-21.869-21.869 0 0 21.869 21.87 0 0 0 0L512 512l224.197 224.197c21.869 21.87 21.869-21.869 0 0-21.869 21.87 21.869 21.87 0 0L512 512 288.598 736.197c-21.869 21.869 21.87 21.869 0 0-21.869-21.869-21.869 21.869 0 0L512 512 288.598 288.599c-21.869-21.87-21.869 21.869 0 0s-21.869-21.87 0 0L512 512l224.197-223.402Z"
  );
}

.closeButtonContainer {
  width: 0.6rem;
  height: 0.6rem;
}

.closeButtonContainer:hover .closeButton {
  d: path(
    "M512 1024c282.77 0 512-229.23 512-512S794.77 0 512 0 0 229.23 0 512s229.23 512 512 512Zm145.001-735.402c21.869-21.869 57.327-21.869 79.196 0 21.869 21.87 21.869 57.327 0 79.196L591.594 512.398l144.603 144.603c21.869 21.87 21.869 57.327 0 79.196-21.869 21.87-57.327 21.87-79.196 0L512.398 591.594 367.794 736.197c-21.869 21.869-57.326 21.869-79.196 0-21.869-21.869-21.869-57.327 0-79.196l144.604-144.603-144.604-144.603c-21.869-21.87-21.869-57.327 0-79.196s57.327-21.87 79.196 0l144.604 144.603 144.603-144.604Z"
  );
}
