.masonryGrid {
  @apply flex ml-0 -mr-2 w-auto;
  width: calc(18rem * 4 + 4rem);
}

.gridColumn {
  @apply ml-0 bg-clip-padding;
}

.gridColumn > div {
  @apply bg-pastel bg-opacity-60 mb-2;
}

@media (min-width: 10974px) {
  .masonryWidth {
    width: calc(18rem * 37 + 18.5rem);
  }
}

@media (min-width: 10678px) and (max-width: 10974px) {
  .masonryWidth {
    width: calc(18rem * 36 + 18rem);
  }
}

@media (min-width: 10382px) and (max-width: 10678px) {
  .masonryWidth {
    width: calc(18rem * 35 + 17.5rem);
  }
}

@media (min-width: 10086px) and (max-width: 10382px) {
  .masonryWidth {
    width: calc(18rem * 34 + 17rem);
  }
}

@media (min-width: 9790px) and (max-width: 10086px) {
  .masonryWidth {
    width: calc(18rem * 33 + 16.5rem);
  }
}

@media (min-width: 9494px) and (max-width: 9790px) {
  .masonryWidth {
    width: calc(18rem * 32 + 16rem);
  }
}

@media (min-width: 9198px) and (max-width: 9494px) {
  .masonryWidth {
    width: calc(18rem * 31 + 15.5rem);
  }
}

@media (min-width: 8902px) and (max-width: 9198px) {
  .masonryWidth {
    width: calc(18rem * 30 + 15rem);
  }
}

@media (min-width: 8606px) and (max-width: 8902px) {
  .masonryWidth {
    width: calc(18rem * 29 + 14.5rem);
  }
}

@media (min-width: 8310px) and (max-width: 8606px) {
  .masonryWidth {
    width: calc(18rem * 28 + 14rem);
  }
}

@media (min-width: 8014px) and (max-width: 8310px) {
  .masonryWidth {
    width: calc(18rem * 27 + 13.5rem);
  }
}

@media (min-width: 7718px) and (max-width: 8014px) {
  .masonryWidth {
    width: calc(18rem * 26 + 13rem);
  }
}

@media (min-width: 7422px) and (max-width: 7718px) {
  .masonryWidth {
    width: calc(18rem * 25 + 12.5rem);
  }
}

@media (min-width: 7126px) and (max-width: 7422px) {
  .masonryWidth {
    width: calc(18rem * 24 + 12rem);
  }
}

@media (min-width: 6830px) and (max-width: 7126px) {
  .masonryWidth {
    width: calc(18rem * 23 + 11.5rem);
  }
}

@media (min-width: 6534px) and (max-width: 6830px) {
  .masonryWidth {
    width: calc(18rem * 22 + 11rem);
  }
}

@media (min-width: 6238px) and (max-width: 6534px) {
  .masonryWidth {
    width: calc(18rem * 21 + 10.5rem);
  }
}

@media (min-width: 5942px) and (max-width: 6238px) {
  .masonryWidth {
    width: calc(18rem * 20 + 10rem);
  }
}

@media (min-width: 5646px) and (max-width: 5942px) {
  .masonryWidth {
    width: calc(18rem * 19 + 9.5rem);
  }
}

@media (min-width: 5350px) and (max-width: 5646px) {
  .masonryWidth {
    width: calc(18rem * 18 + 9rem);
  }
}

@media (min-width: 5054px) and (max-width: 5350px) {
  .masonryWidth {
    width: calc(18rem * 17 + 8.5rem);
  }
}

@media (min-width: 4758px) and (max-width: 5054px) {
  .masonryWidth {
    width: calc(18rem * 16 + 8rem);
  }
}

@media (min-width: 4462px) and (max-width: 4758px) {
  .masonryWidth {
    width: calc(18rem * 15 + 7.5rem);
  }
}

@media (min-width: 4166px) and (max-width: 4462px) {
  .masonryWidth {
    width: calc(18rem * 14 + 7rem);
  }
}

@media (min-width: 3870px) and (max-width: 4166px) {
  .masonryWidth {
    width: calc(18rem * 13 + 6.5rem);
  }
}

@media (min-width: 3574px) and (max-width: 3870px) {
  .masonryWidth {
    width: calc(18rem * 12 + 6rem);
  }
}

@media (min-width: 3278px) and (max-width: 3574px) {
  .masonryWidth {
    width: calc(18rem * 11 + 5.5rem);
  }
}

@media (min-width: 2982px) and (max-width: 3278px) {
  .masonryWidth {
    width: calc(18rem * 10 + 5rem);
  }
}

@media (min-width: 2686px) and (max-width: 2982px) {
  .masonryWidth {
    width: calc(18rem * 9 + 4.5rem);
  }
}

@media (min-width: 2390px) and (max-width: 2686px) {
  .masonryWidth {
    width: calc(18rem * 8 + 4rem);
  }
}

@media (min-width: 2094px) and (max-width: 2390px) {
  .masonryWidth {
    width: calc(18rem * 7 + 3.5rem);
  }
}

@media (min-width: 1798px) and (max-width: 2094px) {
  .masonryWidth {
    width: calc(18rem * 6 + 3rem);
  }
}

@media (min-width: 1502px) and (max-width: 1798px) {
  .masonryWidth {
    width: calc(18rem * 5 + 2.5rem);
  }
}

@media (min-width: 1206px) and (max-width: 1502px) {
  .masonryWidth {
    width: calc(18rem * 4 + 2rem);
  }
}

@media (min-width: 910px) and (max-width: 1206px) {
  .masonryWidth {
    width: calc(18rem * 3 + 1.5rem);
  }
}

@media (min-width: 768px) and (max-width: 910px) {
  .masonryWidth {
    width: calc(18rem * 2 + 1rem);
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  .masonryWidth {
    width: calc(10.5rem * 4 + 2rem);
  }
}

@media (min-width: 546px) and (max-width: 720px) {
  .masonryWidth {
    width: calc(10.5rem * 3 + 1.5rem);
  }
}

@media (min-width: 360px) and (max-width: 546px) {
  .masonryWidth {
    width: calc(10.5rem * 2 + 1rem);
  }
}

@media (max-width: 360px) {
  .masonryWidth {
    width: calc(10.5rem * 1 + 0.5rem);
  }
}
