.masonry-grid {
  @apply flex ml-0 -mr-2 md:-mr-3.5 w-auto;
  width: calc(18rem * 4 + 4rem);
}

.masonry-grid-column {
  @apply ml-0 bg-clip-padding;
}

.masonry-grid-column > div {
  @apply bg-pastel mb-2;
}

@media (min-width: 2001px) {
  .masonry-width {
    width: calc(18rem * 7 + 3.5rem);
  }
}

@media (min-width: 1771px) and (max-width: 2000px) {
  .masonry-width {
    width: calc(18rem * 6 + 3rem);
  }
}

@media (min-width: 1477px) and (max-width: 1770px) {
  .masonry-width {
    width: calc(18rem * 5 + 2.5rem);
  }
}

@media (min-width: 1241px) and (max-width: 1476px) {
  .masonry-width {
    width: calc(18rem * 4 + 2rem);
  }
}

@media (min-width: 911px) and (max-width: 1240px) {
  .masonry-width {
    width: calc(18rem * 3 + 1.5rem);
  }
}

@media (min-width: 768px) and (max-width: 910px) {
  .masonry-width {
    width: calc(18rem * 2 + 1rem);
  }
}

@media (min-width: 721px) and (max-width: 767px) {
  .masonry-width {
    width: calc(10.5rem * 4 + 2rem);
  }
}

@media (min-width: 529px) and (max-width: 720px) {
  .masonry-width {
    width: calc(10.5rem * 3 + 1.5rem);
  }
}

@media (min-width: 361px) and (max-width: 528px) {
  .masonry-width {
    width: calc(10.5rem * 2 + 1rem);
  }
}

@media (max-width: 360px) {
  .masonry-width {
    width: calc(10.5rem * 1 + 0.5rem);
  }
}
