.entryMinWidth {
  min-width: 14rem;
}

.menuSlideWidth {
  width: 100vw;
}

@media (min-width: 768px) {
  .menuSlideWidth {
    width: min(40rem, 90vw);
  }
}

.themeProfileWidth {
  width: 100%;
}

@media (min-width: 768px) {
  .themeProfileWidth {
    width: calc(100% - 14rem);
  }
}

.pickerScrollContainer {
  max-height: 11rem;
}

@media (min-width: 768px) {
  .pickerScrollContainer {
    max-height: 12.5rem;
  }
}
