.rainbow {
  animation: rainbow 5s infinite linear;
}

.saturate {
  backdrop-filter: saturate(150%);
}

@keyframes rainbow {
  0% {
    backdrop-filter: hue-rotate(0deg);
  }
  100% {
    backdrop-filter: hue-rotate(360deg);
  }
}
