.sprite {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  background-size: auto 100%;
  background-repeat: repeat-x;
  bottom: 0px;
}

.background {
  background-image: url("/theme/animated-background/murk/background.png");
  top: 0px;
  bottom: auto;
}

.back {
  background-image: url("/theme/animated-background/murk/back.png");
}

.middle {
  background-image: url("/theme/animated-background/murk/middle.png");
}

.forward {
  background-image: url("/theme/animated-background/murk/forward.png");
}

.moreForward {
  background-image: url("/theme/animated-background/murk/more-forward.png");
}

.foreground {
  background-image: url("/theme/animated-background/murk/foreground.png");
}

.backAnimated {
  animation: scroll 72s linear infinite;
}

.middleAnimated {
  animation: scroll 58s linear infinite;
}

.forwardAnimated {
  animation: scroll 52s linear infinite;
}

.moreForwardAnimated {
  animation: scroll 40s linear infinite;
}

.foregroundAnimated {
  animation: scroll 32s linear infinite;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 177.778vh 0;
  }
}
