.hueShift {
  animation: hueShift 90s infinite linear;
}

@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(12deg);
  }
  50% {
    filter: hue-rotate(0deg);
  }
  75% {
    filter: hue-rotate(-12deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
