.sprite {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  background-size: auto 100%;
  background-repeat: repeat-x;
  bottom: 0px;
}

.clouds {
  background-image: url("/theme/animated-background/dusk/clouds.png");
  top: 0px;
  bottom: auto;
}

.salmon {
  background-image: url("/theme/animated-background/dusk/salmon.png");
}

.pink {
  background-image: url("/theme/animated-background/dusk/pink.png");
}

.plum {
  background-image: url("/theme/animated-background/dusk/plum.png");
}

.purple {
  background-image: url("/theme/animated-background/dusk/purple.png");
}

.black {
  background-image: url("/theme/animated-background/dusk/black.png");
}

.cloudsAnimated {
  animation: scroll 125s linear infinite;
}

.salmonAnimated {
  animation: scroll 78s linear infinite;
}

.pinkAnimated {
  animation: scroll 56s linear infinite;
}

.plumAnimated {
  animation: scroll 38s linear infinite;
}

.purpleAnimated {
  animation: scroll 20s linear infinite;
}

.blackAnimated {
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 177.778vh 0;
  }
}
