@keyframes bgMove {
  0%,
  50%,
  100% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(10vw) scale(1.4);
  }
  75% {
    transform: translateX(-10vw) scale(1.4);
  }
}

.moveOne {
  animation: bgMove 30s ease-in-out infinite;
}

.moveTwo {
  animation: bgMove 20s ease-in-out infinite reverse;
}

.moveThree {
  animation: bgMove 25s ease-in-out infinite;
}
