.position {
  height: min(110vw, 110vh);
  width: auto;
  @apply absolute -z-30;
}

.spinOne {
  animation: spin 23s linear infinite;
}

.spinTwo {
  animation: spin 19s linear infinite;
}

.spinThree {
  animation: spin 17s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
