.scroll {
  width: 100vw;
  height: 50vh;
  background-image: url("/theme/animated-background/storm/storm-clouds.svg");
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.ceiling {
  height: 40vh;
  background-image: url("/theme/animated-background/storm/storm-clouds-ceiling.svg");
}

.animated {
  animation: scroll 5s linear infinite;
}

.ceiling-animated {
  animation: scrollCeiling 3s linear infinite;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 234vh 0;
  }
}

@keyframes scrollCeiling {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -187.2vh 0;
  }
}
