.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  @apply gap-y-3;
}

.grid > :nth-child(1) {
  grid-column: span 1;
}

.grid > :nth-child(2) {
  grid-column: span 1;
}

.grid > :nth-child(3) {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .grid > :nth-child(1) {
    grid-column: span 2;
  }

  .grid > :nth-child(2) {
    grid-column: 1;
  }

  .grid > :nth-child(3) {
    grid-column: 2;
  }
}

.menuOpen {
  @apply gap-x-3;
}

.container {
  container-type: inline-size;
  container-name: notebook-window;
}

.textbox::first-line {
  @apply text-xl font-bold;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-auto-flow: column;
  @apply gap-2;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    @apply flex-col-reverse;
  }
}

.menuContainer {
  height: 4.75rem;
}

@media (min-width: 768px) {
  .menuContainer {
    @apply h-full;
  }
}

.editor,
.editor * {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.selectedColor *::selection {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-saturated) / 0.4) 33%,
    rgb(var(--color-pastel) / 0.4)
  );
}

.selectedColor::selection {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-saturated) / 0.4) 33%,
    rgb(var(--color-pastel) / 0.4)
  );
}
