.container {
  container-name: window-widget-favicon;
  container-type: size;
}

@container window-widget-favicon (min-width: 0px) {
  .inside {
    width: min(70, 70cqh);
    height: min(70cqw, 70cqh);
    @apply aspect-square;
  }
}
