.title {
  margin-top: max(4rem, 26vh);
  margin-bottom: max(4rem, 18vh);
}

@media (min-width: 768px) {
  .title {
    margin-top: max(8rem, 35vh);
    margin-bottom: max(8rem, 25vh);
  }
}

.shadow {
  text-shadow: 0.04rem 0.06rem 0.12em rgb(var(--color-saturated) / 0.3);
}
