.title {
  margin-top: max(4rem, 26vh);
  margin-bottom: max(4rem, 18vh);
}

@media (min-width: 768px) {
  .title {
    margin-top: max(8rem, 35vh);
    margin-bottom: max(8rem, 25vh);
  }
}

.shadow {
  text-shadow: 0.04rem 0.06rem 0.12em rgb(var(--color-saturated) / 0.3);
}

.gradient {
  background-image: linear-gradient(
    to bottom right,
    rgb(var(--color-primary)) 10%,
    rgb(var(--color-saturated)) 70%,
    color-mix(
        in srgb,
        rgb(var(--color-saturated) / 1) 33%,
        rgb(var(--color-pastel) / 1)
      )
      110%
  );
  @apply bg-clip-text bg-center bg-cover text-transparent;
}
