.spacing {
  width: max(4.75rem, 72%);
}

@media (min-width: 768px) {
  .spacing {
    width: max(37rem, calc(68% - 5rem));
  }
}

.glow {
  box-shadow: 0 0 1.3rem 0.8rem
    color-mix(
      in srgb,
      rgb(var(--color-saturated) / 1) 33%,
      rgb(var(--color-pastel) / 1)
    );
}

@media (min-width: 768px) {
  .glow {
    box-shadow: 0 0 1.5rem 0.4rem
      color-mix(
        in srgb,
        rgb(var(--color-saturated) / 1) 33%,
        rgb(var(--color-pastel) / 1)
      );
  }
}
