.spacing {
  width: max(4.75rem, 72%);
}

@media (min-width: 768px) {
  .spacing {
    width: max(37rem, calc(68% - 5rem));
  }
}

.glow {
  box-shadow: 0 0 1.3rem 0.8rem rgb(var(--color-middle));
}

@media (min-width: 768px) {
  .glow {
    box-shadow: 0 0 1.5rem 0.4rem rgb(var(--color-middle));
  }
}

.menuButton {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.menuButtonTranslationClosedUpper {
  transition-delay: 80ms;
  @apply -translate-y-1/3;
}

.menuButtonTranslationClosedLower {
  transition-delay: 80ms;
  @apply -translate-y-2/3;
}

.menuButtonTranslationOpen {
  @apply -translate-y-1/2;
}

.menuButtonRotationClosed {
  @apply rotate-0;
}

.menuButtonRotationOpenUpper {
  transition-delay: 80ms;
  @apply -rotate-45;
}

.menuButtonRotationOpenLower {
  transition-delay: 80ms;
  @apply rotate-45;
}
