.on-top {
  --widget-opacity: 0;
}

.scrolling {
  @apply backdrop-blur-md;
  --widget-opacity: 0.333;
}

.navbar-spacing {
  width: max(27.5rem, calc(68% - 5rem));
}

@media (max-width: 767px) {
  .navbar-spacing {
    width: max(4.75rem, 72%);
  }
}

.item-shadow {
  box-shadow: 0 0 1.2rem 0.6rem var(--color-saturated);
}
