.glow {
  box-shadow: 0 0 0.85rem 0.05rem
    color-mix(
      in srgb,
      rgb(var(--color-saturated) / 1) 33%,
      rgb(var(--color-pastel) / 1)
    );
  transition-timing-function: cubic-bezier(1, 0, 0.46, 0.98);
  transition-delay: 130ms;
}

.transition {
  transition-property: box-shadow;
  @apply duration-500;
}

.extraButton {
  opacity: 0;
  filter: blur(8px);
  visibility: hidden;
  transform: translate(0, -18px);
  transition: filter 0.2s ease-out,
    transform 0.24s cubic-bezier(0.3, 0.15, 0, 0.99), opacity 0.24s ease-out,
    visibility 0.24s ease-out;
  transition-delay: 150ms;
}

.container:hover .extraButton {
  transition-delay: 50ms;
}

.extraButtonContainer {
  @apply pointer-events-none;
}

.container:hover .extraButtonActive {
  filter: unset;
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.container:hover .extraButtonContainerActive {
  pointer-events: unset;
}
