.pills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.6rem;
  width: 100%;
}

@container (min-width: 21.4rem) {
  .pills {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
}

@container (min-width: 32rem) {
  .pills {
    grid-template-columns: 1fr;
    width: auto;
    gap: 0.6rem;
  }
}

.pill:nth-child(7) {
  grid-column: auto;
}

@container (min-width: 21.4rem) {
  .pill:nth-child(7) {
    grid-column: 1 / span 2;
  }
}

@container (min-width: 32rem) {
  .pill:nth-child(7) {
    grid-column: auto;
  }
}

.picker {
  height: 16rem;
  width: 100%;
}

@container (min-width: 32rem) {
  .picker {
    height: auto;
    width: auto;
  }
}

.wrapper {
  container-type: inline-size;
}

.container {
  @apply w-full space-y-4;
}

@container (min-width: 32rem) {
  .container {
    display: grid;
    grid-template-columns: minmax(11.6rem, 14rem) minmax(12rem, 28rem) 2.5rem;
    @apply w-auto space-y-0 gap-x-4;
  }
}

.modeSelector {
  @apply py-2 px-3;
}

@container (min-width: 32rem) {
  .modeSelector {
    @apply flex-col py-3 px-2;
  }
}

.modeSelectorRule {
  @apply border-l w-0 h-5;
}

@container (min-width: 32rem) {
  .modeSelectorRule {
    @apply border-t border-l-0 w-5 h-0;
  }
}

.selectorButtonGlow {
  box-shadow: 0 0 1.02rem 0.7rem rgb(var(--color-middle));
}

.shadePickerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.codePickerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0.25rem;
  container-type: inline-size;
  container-name: code-picker-grid;
  @apply items-center;
}

@container code-picker-grid (min-width: 17.4rem) {
  .codePickerGrid {
    gap: 0.5rem;
  }
}

@container code-picker-grid (min-width: 17.4rem) {
  .codeInputBoxContainer {
    @apply flex gap-3 items-center;
  }
}

.codeInputBoxGrid {
  @apply gap-2;
}

@container code-picker-grid (min-width: 17.4rem) {
  .codeInputBoxGrid {
    @apply gap-3;
  }
}

.codeInputLine {
  @apply py-0.5;
}

@container code-picker-grid (min-width: 17.4rem) {
  .codeInputLine {
    @apply py-1;
  }
}
