.sizing {
  width: 100%;
  height: clamp(16rem, 60vh, 50rem);
}

@media (min-width: 768px) {
  .sizing {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 45%;
    transition: max-width 200ms ease-out;
  }
}

@media (min-width: 768px) {
  .expanded {
    max-width: calc(clamp(5rem, 80vw, 90rem) * 0.45);
  }
}

@media (min-width: 768px) {
  .collapsed {
    max-width: 4rem;
  }
}
