.theme-editor-color-picker .react-colorful {
  height: 100%;
  width: 100%;
}

.theme-editor-color-picker .react-colorful__saturation-pointer {
  height: 1.5rem;
  width: 1.5rem;
  @apply rounded-lg;
}

.theme-editor-color-picker .react-colorful__hue-pointer {
  height: 1.5rem;
  width: 1.2rem;
  @apply rounded-lg;
}

.theme-editor-color-picker .react-colorful__alpha-pointer {
  height: 1.5rem;
  width: 1.2rem;
  @apply rounded-lg;
}

.theme-editor-color-picker .react-colorful__saturation {
  border-radius: 0.75rem 0.75rem 0 0;
}

.theme-editor-color-picker-standard .react-colorful__hue {
  border-radius: 0 0 0.75rem 0.75rem;
}

.theme-editor-color-picker-alpha .react-colorful__alpha {
  border-radius: 0 0 0.75rem 0.75rem;
}
