.picker {
  height: 16rem;
  width: 100%;
}

@container color-editor-wrapper (min-width: 32rem) {
  .picker {
    height: auto;
    width: auto;
  }
}

.container {
  @apply w-full space-y-4;
}

@container color-editor-wrapper (min-width: 32rem) {
  .container {
    display: grid;
    grid-template-columns: 12.4rem minmax(12rem, 1fr) 2.5rem;
    @apply space-y-0 gap-x-4;
  }
}
