.picker {
  height: 16rem;
  width: 100%;
}

@container (min-width: 32rem) {
  .picker {
    height: auto;
    width: auto;
  }
}

.wrapper {
  container-type: inline-size;
}

.container {
  @apply w-full space-y-4;
}

@container (min-width: 32rem) {
  .container {
    display: grid;
    grid-template-columns: minmax(11.6rem, 14rem) minmax(12rem, 28rem) 2.5rem;
    @apply w-auto space-y-0 gap-x-4;
  }
}
