.pills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.6rem;
  width: 100%;
}

@container color-editor-wrapper (min-width: 21.4rem) {
  .pills {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
}

@container color-editor-wrapper (min-width: 32rem) {
  .pills {
    grid-template-columns: 1fr;
    width: auto;
    gap: 0.6rem;
  }
}

.singlePill:nth-child(5) {
  grid-column: auto;
}

@container color-editor-wrapper (min-width: 21.4rem) {
  .singlePill:nth-child(5) {
    grid-column: 1 / span 2;
  }
}

@container color-editor-wrapper (min-width: 32rem) {
  .singlePill:nth-child(5) {
    grid-column: auto;
  }
}
