.firstRow {
  display: grid;
  grid-template-columns: 1fr;
  @apply gap-4;
}

.firstRow > *:nth-child(1) {
  order: 1;
}

.firstRow > *:nth-child(2) {
  order: 3;
}

.firstRow > *:nth-child(3) {
  order: 2;
}

@container color-editor-wrapper (min-width: 36rem) {
  .firstRow {
    grid-template-columns: 13rem 1fr;
    grid-template-rows: auto;
  }

  .firstRow > *:nth-child(1),
  .firstRow > *:nth-child(2) {
    order: unset;
  }

  .firstRow > *:nth-child(3) {
    order: unset;
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

.viewer {
  height: 9rem;
  width: 100%;
  @apply p-6;
}

@container color-editor-wrapper (min-width: 36rem) {
  .viewer {
    height: 13rem;
    width: 13rem;
    @apply p-8;
  }
}

.propertiesSelector {
  display: grid;
  grid-template-rows: auto auto;
  @apply gap-4;
}

@container color-editor-wrapper (min-width: 36rem) {
  .propertiesSelector {
    grid-template-rows: auto 1fr;
  }
}

.propertiesBox {
  height: 11rem;
}

@container color-editor-wrapper (min-width: 36rem) {
  .propertiesBox {
    height: 100%;
  }
}

.angleAndStopPositionGrid {
  display: grid;
  grid-template-columns: 1fr;
  @apply gap-4;
}

@container color-editor-wrapper (min-width: 25rem) {
  .angleAndStopPositionGrid {
    grid-template-columns: 7.5rem 1fr;
  }
}
