.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: auto;
  @apply gap-4;
}

.stopsAndColorInterpolation {
  display: flex;
  @apply flex-col gap-4;
}

@container color-editor-wrapper (min-width: 48rem) {
  .stopsAndColorInterpolation {
    @apply flex-row;
  }
}

.colorInterpolation {
  width: 100%;
  height: 6.25rem;
}

@container color-editor-wrapper (min-width: 48rem) {
  .colorInterpolation {
    width: 18.75rem;
    height: auto;
  }
}

.panel {
  height: 15.5rem;
}
