.container {
  @apply w-full space-y-4;
}

@container color-editor-wrapper (min-width: 28rem) {
  .container {
    display: grid;
    grid-template-columns: minmax(12.5rem, 1fr) minmax(12.5rem, 1fr);
    grid-template-rows: auto 17rem 24rem;
    @apply space-y-0 gap-4;
  }

  .container > :nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .container > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .container > :nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  .container > :nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}

@container color-editor-wrapper (min-width: 39.75rem) {
  .container {
    grid-template-columns: 5rem minmax(14rem, 18rem) minmax(16rem, 1fr);
    grid-template-rows: auto 24rem;
  }

  .container > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .container > :nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .container > :nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }

  .container > :nth-child(4) {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
}
