.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  @apply w-full;
}

@container color-editor-wrapper (min-width: 28rem) {
  .container {
    @apply h-full;
  }
}

.gridWrapper {
  height: 16rem;
}

@container color-editor-wrapper (min-width: 28rem) {
  .gridWrapper {
    @apply h-full;
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 2.5rem);
  gap: 0.5rem;
  @apply absolute w-full top-0 left-0;
}

@container color-editor-wrapper (min-width: 28rem) {
  .grid {
    @apply h-full;
  }
}

.transparentLayer {
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
    linear-gradient(-45deg, #ddd 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #ddd 0),
    linear-gradient(-45deg, transparent 75%, #ddd 0);
  background-size: 0.5rem 0.5rem;
  background-position: 0 0, 0 0.25rem, 0.25rem -0.25rem, -0.25rem 0;
}

.rowContainer {
  container-type: inline-size;
  container-name: layer-row-container;
}

.layerText {
  @apply hidden;
}

@container layer-row-container (min-width: 15rem) {
  .layerText {
    @apply block;
  }
}
