.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  @apply w-full;
}

@container color-editor-wrapper (min-width: 28rem) {
  .container {
    @apply h-full;
  }
}

.gridWrapper {
  height: 16rem;
}

@container color-editor-wrapper (min-width: 28rem) {
  .gridWrapper {
    @apply h-full;
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 2.5rem);
  gap: 0.5rem;
  @apply absolute w-full top-0 left-0;
}

@container color-editor-wrapper (min-width: 28rem) {
  .grid {
    @apply h-full;
  }
}

.rowContainer {
  container-type: inline-size;
  container-name: layer-row-container;
}

.layerText {
  @apply hidden;
}

@container layer-row-container (min-width: 15rem) {
  .layerText {
    @apply block;
  }
}

.borderColor {
  border-color: color-mix(
    in srgb,
    rgb(var(--color-saturated) / 0.75),
    rgb(var(--color-pastel) / 0.75) 60%
  );
}
