.allocator {
  height: 15rem;
}

@container color-editor-wrapper (min-width: 28rem) {
  .allocator {
    height: auto;
    @apply flex-grow;
  }
}

.wrapper {
  container-type: inline-size;
  container-name: conic-data-editor-wrapper;
}

.input {
  @apply text-sm;
}

@container conic-data-editor-wrapper (max-width: 16rem) {
  .input {
    @apply text-base;
  }
}

.positionText {
  @apply mb-0 -mt-2;
}

@container conic-data-editor-wrapper (max-width: 16rem) {
  .positionText {
    @apply mb-1;
  }
}

.orientationSelector {
  box-shadow: 0 0 1.18rem 1.22rem
    color-mix(
      in srgb,
      rgb(var(--color-saturated) / 1) 33%,
      rgb(var(--color-pastel) / 1)
    );
}
