.selected {
  box-shadow: 0 0 0.95rem 0.83rem
    color-mix(
      in srgb,
      rgb(var(--color-saturated) / 1) 33%,
      rgb(var(--color-pastel) / 1)
    );
}

.grid {
  display: grid;
  grid-template-columns: auto;
}

@container color-editor-wrapper (min-width: 33rem) {
  .grid {
    grid-template-columns: 19rem 1fr;
    @apply gap-4;
  }
}

.input {
  @apply hidden;
}

@container color-editor-wrapper (min-width: 33rem) {
  .input {
    @apply flex;
  }
}

.circleShadow {
  background-image: conic-gradient(
    from 270deg,
    rgba(0, 0, 0, 0.08) 0deg,
    rgba(0, 0, 0, 0.44) 64.8deg,
    rgba(0, 0, 0, 0.44) 115.2deg,
    rgba(0, 0, 0, 0.08) 180deg,
    rgba(0, 0, 0, 0) 208.8deg,
    rgba(0, 0, 0, 0) 331.2deg,
    rgba(0, 0, 0, 0.08) 360deg
  );
  mask-image: radial-gradient(
    circle farthest-side at 50% 50%,
    transparent 89%,
    black 97%
  );
}
