.selected {
  box-shadow: 0 0 0.95rem 0.83rem rgb(var(--color-middle));
}

.grid {
  display: grid;
  grid-template-columns: auto;
}

@container color-editor-wrapper (min-width: 39rem) {
  .grid {
    grid-template-columns: 25rem 1fr;
    @apply gap-4;
  }
}

.input {
  @apply hidden;
}

@container color-editor-wrapper (min-width: 39rem) {
  .input {
    @apply flex;
  }
}
