.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 4rem);
  overflow-x: auto;
  gap: 1rem;
}

.cross {
  width: 22%;
}

.selected {
  box-shadow: 0 0 1rem 1.9rem rgb(var(--color-middle));
}
