.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 4rem);
  overflow-x: auto;
  gap: 1rem;
}

.crossDetect {
  width: 47%;
}

.crossClick {
  width: 46.8%;
}

.selected {
  box-shadow: 0 0 1rem 1.7rem
    color-mix(
      in srgb,
      rgb(var(--color-saturated) / 1) 33%,
      rgb(var(--color-pastel) / 1)
    );
}

.border {
  border-width: 2.5px;
}
