@media (min-width: 768px) {
  .colorWrapper {
    transition: width 200ms ease-out;
  }
}

@media (min-width: 768px) {
  .expanded {
    width: calc(clamp(5rem, 80vw, 160rem) * 0.3);
  }
}

@media (min-width: 768px) {
  .collapsed {
    width: 0rem;
  }
}
