.colorPalette {
  --color-primary: 12 74 110;
  --color-light: 240 249 255;
  --color-saturated: 3 105 161;
  --color-middle: 56 189 248;
  --color-pastel: 186 230 253;
  --color-soft: 125 211 252;
  --bg-page: radial-gradient(50% 50% at 80% 100%, #abedff 0%, #ebffee00 100%),
    radial-gradient(60% 60% at -6% 74%, #f1c5ff 0%, #ffebf100 100%),
    linear-gradient(45deg, #ffede5 20%, #fffbe4 80%);
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90 {
    --bg-widget-$(opacity): radial-gradient(
        50% 50% at 110% 60%,
        rgba(171, 237, 255, .$opacity) 0%,
        rgba(235, 255, 238, 0) 100%
      ),
      radial-gradient(
        60% 60% at -12% 40%,
        rgba(241, 197, 255, .$opacity) 0%,
        rgba(255, 235, 241, 0) 100%
      ),
      linear-gradient(
        45deg,
        rgba(255, 237, 229, .$opacity) 20%,
        rgba(255, 251, 228, 0) 80%
      );
  }
}
