.colorPalette {
  --color-primary: 12 74 110;
  --color-light: 240 249 255;
  --color-saturated: 3 105 161;
  --color-middle: 56 189 248;
  --color-pastel: 186 230 253;
  --color-soft: 125 211 252;
  --bg-page: linear-gradient(
    60deg,
    rgba(255, 237, 229, 1) 0%,
    rgba(255, 237, 229, 1) 15%,
    rgba(255, 251, 228, 1) 85%,
    rgba(255, 251, 228, 1) 100%
  );
  --bg-widget: url("/theme/background/about/translucent");
}
