.colorPalette {
  --color-primary: 255 241 222;
  --color-light: 173 100 0;
  --color-saturated: 211 227 228;
  --color-middle: 175 170 179;
  --color-pastel: 173 122 67;
  --color-soft: 174 142 122;
  --reading-blur: 0px;
  --bg-page: linear-gradient(
    to bottom right,
    #031d44 0%,
    #031d44 20%,
    #04395e 20%,
    #04395e 40%,
    #70a288 40%,
    #70a288 60%,
    #dab785 60%,
    #dab785 80%,
    #d5896f 80%,
    #d5896f 100%
  );

  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      to right,
      rgba(21, 89, 138, 1) 15%,
      rgba(21, 89, 138, 1) 85%
    );
  }
}
