.colorPalette {
  --color-primary: 128 8 48;
  --color-light: 255 235 238;
  --color-saturated: 196 26 134;
  --color-middle: 251 84 134;
  --color-pastel: 254 179 219;
  --color-soft: 253 133 181;
  --reading-blur: 0px;
  --bg-page: linear-gradient(
    to top right,
    #cfd4c5 0%,
    #cfd4c5 20%,
    #eecfd4 20%,
    #eecfd4 40%,
    #efb9cb 40%,
    #efb9cb 60%,
    #e6adec 60%,
    #e6adec 80%,
    #c287e8 80%,
    #c287e8 100%
  );
  --bg-page-minimal: linear-gradient(to right, #eecfd4 15%, #eecfd4 85%);

  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      to right,
      rgba(255, 235, 249, $opacity%) 10%,
      rgba(255, 235, 249, 1) 60%
    );
  }
}
