.colorPalette {
  --color-primary: 130 36 36;
  --color-saturated: 193 57 57;
  --color-middle: 226 125 125;
  --color-soft: 246 181 181;
  --color-pastel: 251 212 212;
  --color-light: 253 247 247;
  --bg-page: radial-gradient(ellipse at bottom, #fffcfc 0%, #fff7f7 100%);
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): radial-gradient(
        40% 50% at -15% 20%,
        rgba(242, 255, 244, $opacity%) 0%,
        rgba(245, 255, 246, 0) 100%
      ),
      radial-gradient(
        70% 120% at 120% 90%,
        rgba(255, 246, 245, $opacity%) 0%,
        rgba(255, 250, 250, 0) 100%
      ),
      linear-gradient(
        30deg,
        rgba(255, 250, 250, $opacity%) 20%,
        rgba(255, 252, 252, $opacity%) 80%
      );
  }
}
