.colorPalette {
  --color-primary: 112 26 117;
  --color-light: 253 244 255;
  --color-saturated: 162 28 175;
  --color-middle: 232 121 249;
  --color-pastel: 245 208 254;
  --color-soft: 240 171 252;
  --bg-page: linear-gradient(
    45deg,
    rgba(249, 232, 255, 1) 0%,
    rgba(249, 232, 255, 1) 20%,
    rgba(255, 235, 241, 1) 80%,
    rgba(255, 235, 241, 1) 100%
  );
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      45deg,
      rgba(253, 244, 255, $opacity%) 20%,
      rgba(255, 235, 251, $opacity%) 80%
    );
  }
}
