.colorPalette {
  --color-primary: 255 252 247;
  --color-light: 205 88 44;
  --color-saturated: 255 172 35;
  --color-middle: 245 133 36;
  --color-pastel: 201 107 26;
  --color-soft: 229 120 35;
  --bg-page: linear-gradient(
    10deg,
    rgba(31, 15, 60, 1) 15%,
    rgba(107, 24, 141, 1) 85%
  );
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      45deg,
      rgba(205, 88, 44, $opacity%) 15%,
      rgba(234, 131, 5, $opacity%) 85%
    );
  }
}
