.colorPalette {
  --color-primary: 249 250 251;
  --color-saturated: 243 244 246;
  --color-middle: 229 231 235;
  --color-soft: 156 163 175;
  --color-pastel: 107 114 128;
  --color-light: 75 85 99;
  --bg-page: linear-gradient(
    45deg,
    rgba(17, 24, 39, 1) 0%,
    rgba(31, 41, 55, 1) 100%
  );
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      45deg,
      rgba(27, 36, 51, $opacity%) 20%,
      rgba(37, 47, 61, $opacity%) 80%
    );
  }
}
