.colorPalette {
  --color-primary: 74 92 30;
  --color-light: 238 242 191;
  --color-saturated: 115 143 46;
  --color-middle: 165 191 69;
  --color-pastel: 207 230 131;
  --color-soft: 183 209 96;
  --reading-blur: 0px;
  --bg-page: linear-gradient(
    to right,
    #dde8b9 0%,
    #dde8b9 20%,
    #e8d2ae 20%,
    #e8d2ae 40%,
    #d7b29d 40%,
    #d7b29d 60%,
    #cb8589 60%,
    #cb8589 80%,
    #b59395 80%,
    #b59395 100%
  );
  --bg-page-minimal: linear-gradient(to right, #e8d2ae 15%, #e8d2ae 85%);

  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      to right,
      rgba(255, 230, 189, 1) 15%,
      rgba(255, 230, 189, 1) 85%
    );
  }
}
