.colorPalette {
  --color-primary: 23 23 23;
  --color-light: 250 250 250;
  --color-saturated: 64 64 64;
  --color-middle: 163 163 163;
  --color-pastel: 229 229 229;
  --color-soft: 212 212 212;
  --bg-page: rgba(242, 242, 242, 1);
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90 {
    --bg-widget-$(opacity): linear-gradient(
      45deg,
      rgba(240, 240, 240, .$opacity) 0%,
      rgba(240, 240, 240, .$opacity) 20%,
      rgba(250, 250, 250, .$opacity) 80%,
      rgba(250, 250, 250, .$opacity) 100%
    );
  }
}
