.colorPalette {
  --color-primary: 124 45 18;
  --color-light: 255 247 237;
  --color-saturated: 194 65 12;
  --color-middle: 251 146 60;
  --color-pastel: 254 215 170;
  --color-soft: 253 186 116;
  --bg-page: linear-gradient(
    45deg,
    rgba(255, 237, 229, 1) 0%,
    rgba(255, 237, 229, 1) 15%,
    rgba(255, 251, 228, 1) 85%,
    rgba(255, 251, 228, 1) 100%
  );
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      45deg,
      rgba(255, 242, 235, $opacity%) 15%,
      rgba(255, 247, 237, $opacity%) 85%
    );
  }
}
