.colorPalette {
  --color-primary: 124 45 18;
  --color-light: 255 247 237;
  --color-saturated: 194 65 12;
  --color-middle: 251 146 60;
  --color-pastel: 254 215 170;
  --color-soft: 253 186 116;
  --bg-page: linear-gradient(
    45deg,
    rgba(255, 237, 229, 1) 0%,
    rgba(255, 237, 229, 1) 15%,
    rgba(255, 251, 228, 1) 85%,
    rgba(255, 251, 228, 1) 100%
  );
  --bg-widget: linear-gradient(
    45deg,
    rgba(255, 238, 229, var("--widget-opacity")) 0%,
    rgba(255, 238, 229, var("--widget-opacity")) 15%,
    rgba(255, 247, 237, var("--widget-opacity")) 85%,
    rgba(255, 247, 237, var("--widget-opacity")) 100%
  );
}
