.colorPalette {
  --color-primary: 247 253 255;
  --color-saturated: 179 226 255;
  --color-middle: 135 208 255;
  --color-soft: 63 157 217;
  --color-pastel: 52 147 207;
  --color-light: 21 129 212;
  --bg-page: radial-gradient(80% 70% at -5% -10%, #428bff88 0%, #61abffdd 100%),
    radial-gradient(80% 120% at 50% 100%, #c7ecff 0%, #75c6ff 100%);
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): radial-gradient(
      ellipse at bottom,
      rgba(138, 208, 255, $opacity%) 0%,
      rgba(74, 174, 255, 1) 100%
    );
  }
}
