.colorPalette {
  --color-primary: 255 255 255;
  --color-light: 50 50 50;
  --color-saturated: 229 229 229;
  --color-soft: 96 96 96;
  --color-pastel: 78 78 78;
  --color-middle: 128 128 128;
  --bg-page: linear-gradient(
    0deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(50, 50, 50, 1) 100%
  );
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      0deg,
      rgba(64, 64, 64, $opacity%) 0%,
      rgba(64, 64, 64, $opacity%) 100%
    );
  }
}
