.colorPalette {
  --color-primary: 255 245 237;
  --color-light: 255 161 0;
  --color-saturated: 255 221 163;
  --color-middle: 255 202 112;
  --color-pastel: 255 173 33;
  --color-soft: 255 187 71;
  --bg-page: repeating-linear-gradient(315deg, #ffc8002e 92%, #ff770700 100%),
    repeating-radial-gradient(
      75% 75% at 238% 218%,
      #ffc80012 30%,
      #ff770714 39%
    ),
    radial-gradient(99% 99% at 109% 2%, #ffae00ff 0%, #ff660700 100%),
    radial-gradient(99% 99% at 21% 78%, #ff6f00ff 0%, #ffa80700 100%),
    radial-gradient(160% 154% at 711px -303px, #e67335 0%, #ff9626 100%);
  --bg-page-minimal: linear-gradient(to top right, #e66a35 15%, #ffa826 85%);

  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      to right,
      rgba(255, 160, 36, $opacity%) 15%,
      rgba(255, 173, 66, $opacity%) 85%
    );
  }
}
