.colorPalette {
  --color-primary: 13 80 102;
  --color-saturated: 31 122 153;
  --color-middle: 49 138 168;
  --color-soft: 83 166 194;
  --color-pastel: 116 193 219;
  --color-light: 207 243 255;
  --bg-page: radial-gradient(ellipse at bottom, #e0f6ff 0%, #a3e3ff 100%);
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): radial-gradient(
      ellipse at bottom,
      rgba(237, 250, 255, $opacity%) 0%,
      rgba(224, 247, 255, $opacity%) 100%
    );
  }
}
