.colorPalette {
  --color-primary: 243 253 255;
  --color-saturated: 203 244 250;
  --color-middle: 118 212 231;
  --color-soft: 77 172 198;
  --color-pastel: 54 130 158;
  --color-light: 22 47 70;
  --bg-page: radial-gradient(ellipse at bottom, #0f2540 0%, #1a1c2b 100%);
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): radial-gradient(
      ellipse at bottom,
      rgba(24, 46, 74, $opacity%) 0%,
      rgba(28, 41, 59, $opacity%) 100%
    );
  }
}
