.colorPalette {
  --color-primary: 19 78 74;
  --color-light: 240 253 250;
  --color-saturated: 15 118 110;
  --color-middle: 45 212 191;
  --color-pastel: 153 246 228;
  --color-soft: 94 234 212;
  --bg-page: linear-gradient(
    45deg,
    rgba(234, 250, 255, 1) 0%,
    rgba(234, 250, 255, 1) 20%,
    rgba(235, 255, 238, 1) 80%,
    rgba(235, 255, 238, 1) 100%
  );
  @each $opacity in 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    --bg-widget-$(opacity): linear-gradient(
      45deg,
      rgba(234, 252, 255, $opacity%) 20%,
      rgba(240, 253, 250, $opacity%) 80%
    );
  }
}
