.sizing {
  width: 100vw;
  height: clamp(14rem, calc(100vh - 68px), 120rem);
}

@media (min-width: 640px) {
  .sizing {
    width: 100vw;
    height: clamp(14rem, calc(100vh - 72px), 120rem);
  }
}

@media (min-width: 768px) {
  .sizing {
    width: clamp(5rem, 80vw, 160rem);
    height: clamp(14rem, calc(100vh - 166px), 120rem);
  }
}

.infoFade {
  mask-image: linear-gradient(
    to bottom,
    transparent 0rem,
    rgba(0, 0, 0, 0.006) 0.5625rem,
    rgba(0, 0, 0, 0.024) 1.125rem,
    rgba(0, 0, 0, 0.054) 1.6875rem,
    rgba(0, 0, 0, 0.096) 2.25rem,
    rgba(0, 0, 0, 0.15) 2.8125rem,
    rgba(0, 0, 0, 0.1568) 2.9013rem,
    rgba(0, 0, 0, 0.1763) 2.9801rem,
    rgba(0, 0, 0, 0.2069) 3.0689rem,
    rgba(0, 0, 0, 0.2472) 3.1577rem,
    rgba(0, 0, 0, 0.2956) 3.2465rem,
    rgba(0, 0, 0, 0.3508) 3.3353rem,
    rgba(0, 0, 0, 0.4111) 3.4241rem,
    rgba(0, 0, 0, 0.4752) 3.513rem,
    rgba(0, 0, 0, 0.5415) 3.6018rem,
    rgba(0, 0, 0, 0.6085) 3.6906rem,
    rgba(0, 0, 0, 0.6748) 3.7794rem,
    rgba(0, 0, 0, 0.7389) 3.8682rem,
    rgba(0, 0, 0, 0.7992) 3.957rem,
    rgba(0, 0, 0, 0.8544) 4.0458rem,
    rgba(0, 0, 0, 0.9038) 4.1347rem,
    rgba(0, 0, 0, 0.9481) 4.2235rem,
    rgba(0, 0, 0, 0.9837) 4.3123rem,
    rgba(0, 0, 0, 1) 4.4011rem,
    rgba(0, 0, 0, 1) 4.5rem,

    rgba(0, 0, 0, 1) calc(100% - 2rem),
    rgba(0, 0, 0, 0.992) calc(100% - 1.8947rem),
    rgba(0, 0, 0, 0.9691) calc(100% - 1.7895rem),
    rgba(0, 0, 0, 0.9331) calc(100% - 1.6842rem),
    rgba(0, 0, 0, 0.8857) calc(100% - 1.5789rem),
    rgba(0, 0, 0, 0.8287) calc(100% - 1.4737rem),
    rgba(0, 0, 0, 0.7638) calc(100% - 1.3684rem),
    rgba(0, 0, 0, 0.6928) calc(100% - 1.2632rem),
    rgba(0, 0, 0, 0.6174) calc(100% - 1.1579rem),
    rgba(0, 0, 0, 0.5394) calc(100% - 1.0526rem),
    rgba(0, 0, 0, 0.4606) calc(100% - 0.9474rem),
    rgba(0, 0, 0, 0.3826) calc(100% - 0.8421rem),
    rgba(0, 0, 0, 0.3072) calc(100% - 0.7368rem),
    rgba(0, 0, 0, 0.2362) calc(100% - 0.6316rem),
    rgba(0, 0, 0, 0.1713) calc(100% - 0.5263rem),
    rgba(0, 0, 0, 0.1143) calc(100% - 0.4211rem),
    rgba(0, 0, 0, 0.0669) calc(100% - 0.3158rem),
    rgba(0, 0, 0, 0.0309) calc(100% - 0.2105rem),
    rgba(0, 0, 0, 0.008) calc(100% - 0.1053rem),
    transparent 100%
  );
}

.infoTitleShadow {
  text-shadow: 0 2px 6px rgb(var(--color-darklight-primary) / 0.15),
    0 4px 12px rgb(var(--color-darklight-primary) / 0.08);
}

.changeSpriteBox {
  top: calc(100% + 0.5rem);
  right: -0.5rem;
  height: 11.5rem;
  width: min(15.25rem, calc(clamp(1rem, 90vw, 80svh) - 1rem));
  transform-origin: calc(100% - 3.5rem) 0%;
}

.changeSpriteGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 1.25rem;
  padding: 0.75rem;
}
