.sizing {
  height: clamp(1rem, 85vh, 200vw);
  width: clamp(1rem, 90vw, 80vh);
}

.icon {
  width: 66%;
}

.messageContainer {
  container-name: christmas-tree-message;
  container-type: inline-size;
}

@container christmas-tree-message (min-width: 0rem) {
  .messageIcon {
    width: max(50cqh, 50cqw);
    height: max(50cqh, 50cqw);
  }
}

.textShadow {
  text-shadow: 0 0 0.5rem rgb(var(--color-light) / 0.9);
}

.buttonBg {
  background-color: rgb(var(--color-light) / 0.8);
}

.buttonBg:hover {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-pastel) / 0.8) 25%,
    rgb(var(--color-light) / 0.8)
  );
}

.buttonBgAlt {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-pastel) / 0.8) 55%,
    rgb(var(--color-light) / 0.8)
  );
}

.buttonBgAlt:hover {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-pastel) / 0.8) 90%,
    rgb(var(--color-light) / 0.8)
  );
}
