.treeAspect {
  aspect-ratio: 0.66;
}

@media (min-width: 768px) {
  .treeContainer {
    max-width: calc(clamp(5rem, 80vw, 160rem) - 11.25rem);
  }
}

.treeHeightLimit {
  max-height: min(100%, calc((100vw - 3rem) / 0.66));
}

@media (min-width: 768px) {
  .treeHeightLimit {
    max-height: min(100%, calc((clamp(5rem, 80vw, 160rem) - 13.75rem) / 0.66));
  }
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  container-type: inline-size;
  container-name: christmas-tree;
}

@container christmas-tree (min-width: 0rem) {
  .sizing {
    width: 15cqw;
    height: auto;
    aspect-ratio: 1;
  }
}

.text {
  transition-property: transform, opacity;
}

@container christmas-tree (min-width: 0rem) {
  .text {
    font-size: 3.3cqw;
  }
}

@keyframes shake {
  0% {
    transform: rotate(calc(0deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
  15% {
    transform: rotate(calc(-18deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
  45% {
    transform: rotate(calc(18deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
  60% {
    transform: rotate(calc(-9deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
  80% {
    transform: rotate(calc(9deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
  100% {
    transform: rotate(calc(0deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
}

.shakeSpin {
  animation: shake 0.8s ease-in-out infinite;
}

.dragBarTransition {
  transition-property: transform, opacity, background-color, border-color;
  @apply duration-300 ease-out;
}

.dragBarColorIdle {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-pastel) / 0.8),
    rgb(var(--color-light) / 0.8) 4%
  );
}

.dragBarColorDragging {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-pastel) / 0.8),
    rgb(var(--color-light) / 0.8) 50%
  );
}

.dragButtonIdle {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-pastel) / 1),
    rgb(var(--color-light) / 1) 50%
  );
}

.dragButtonDragging {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-pastel) / 1),
    rgb(var(--color-light) / 1) 90%
  );
}

.textFancy {
  text-shadow: 0 0 0.5rem rgb(var(--color-darklight-saturated) / 0.8);
  color: color-mix(
    in srgb,
    rgb(var(--color-darklight-saturated) / 1),
    rgb(var(--color-saturated) / 1) 45%
  );
}
