.crescent {
  top: calc(50vh - 18vmax * 2.5);
  animation: rotate 40s linear infinite;
}

.full {
  top: calc(50vh + 18vmax * 2.5);
  animation: rotate 40s linear infinite;
}

.child {
  position: absolute;
  width: 18vmax;
  height: 18vmax;
  top: 50%;
  left: 50%;
  transform-origin: 300% 50%;
  @apply aspect-square;
}

.parent .child:nth-child(1) {
  transform: translate(-300%, -50%) rotate(0deg);
}

.parent .child:nth-child(2) {
  transform: translate(-300%, -50%) rotate(180deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
