.glitter {
  font-size: max(3.4vh, 3.4vw);
}

.glitter::before,
.glitter::after {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  transform: scale(14);
  @apply text-transparent;
}

.glitter::before {
  text-shadow: 1.4952886907em 0.5833486293em max(0.55vh, 0.55vw)
      rgba(255, 244, 0, 0.9),
    1.4717071759em 1.9712902268em max(0.55vh, 0.55vw) rgba(188, 0, 255, 0.9),
    -0.2302391306em 0.7922216775em max(0.55vh, 0.55vw) rgba(0, 255, 191, 0.9),
    1.1943712992em 2.3853109162em max(0.55vh, 0.55vw) rgba(0, 40, 255, 0.9),
    1.7908184173em 0.3524758291em max(0.55vh, 0.55vw) rgba(255, 0, 34, 0.9),
    -0.3735768605em -0.2522987493em max(0.55vh, 0.55vw) rgba(54, 255, 0, 0.9),
    2.1762951869em 2.3762025944em max(0.55vh, 0.55vw) rgba(53, 0, 255, 0.9),
    1.1432391845em 0.1244014642em max(0.55vh, 0.55vw) rgba(56, 0, 255, 0.9),
    1.371727033em 0.4165835607em max(0.55vh, 0.55vw) rgba(0, 255, 132, 0.9),
    0.6223866268em 2.4169319146em max(0.55vh, 0.55vw) rgba(255, 8, 0, 0.9),
    -0.0763687376em 2.3116627185em max(0.55vh, 0.55vw) rgba(0, 255, 50, 0.9),
    0.4115794892em 0.3565521297em max(0.55vh, 0.55vw) rgba(128, 255, 0, 0.9),
    0.5641164204em 1.1699568942em max(0.55vh, 0.55vw) rgba(255, 192, 0, 0.9),
    0.3277933263em 1.5484601673em max(0.55vh, 0.55vw) rgba(255, 0, 234, 0.9),
    0.0437607807em -0.4435041142em max(0.55vh, 0.55vw) rgba(0, 255, 195, 0.9),
    0.6489500076em 0.772641116em max(0.55vh, 0.55vw) rgba(255, 0, 119, 0.9),
    0.1979743473em 1.0598781072em max(0.55vh, 0.55vw) rgba(0, 228, 255, 0.9),
    0.8949698674em 0.8876009666em max(0.55vh, 0.55vw) rgba(255, 233, 0, 0.9),
    0.2724665647em -0.4415076768em max(0.55vh, 0.55vw) rgba(255, 26, 0, 0.9),
    -0.3622088273em 1.5728096058em max(0.55vh, 0.55vw) rgba(255, 36, 0, 0.9),
    0.5017379397em 2.3036403903em max(0.55vh, 0.55vw) rgba(255, 90, 0, 0.9),
    1.5209802283em 0.8203366354em max(0.55vh, 0.55vw) rgba(18, 255, 0, 0.9),
    1.4595874033em 2.3838567782em max(0.55vh, 0.55vw) rgba(0, 36, 255, 0.9),
    1.2949091657em 0.7907767272em max(0.55vh, 0.55vw) rgba(0, 110, 255, 0.9),
    0.2248054012em 2.2771879268em max(0.55vh, 0.55vw) rgba(255, 0, 47, 0.9),
    0.3336245994em 1.5724771243em max(0.55vh, 0.55vw) rgba(0, 66, 255, 0.9),
    1.2259620673em 0.9034692577em max(0.55vh, 0.55vw) rgba(0, 255, 23, 0.9),
    1.0286337164em 0.8640029494em max(0.55vh, 0.55vw) rgba(53, 255, 0, 0.9),
    0.2554704443em 0.9939026063em max(0.55vh, 0.55vw) rgba(255, 38, 0, 0.9),
    2.3957320054em 1.6337288422em max(0.55vh, 0.55vw) rgba(20, 0, 255, 0.9),
    1.5535334491em -0.15108283em max(0.55vh, 0.55vw) rgba(0, 255, 113, 0.9),
    1.1003085333em 0.8788594902em max(0.55vh, 0.55vw) rgba(0, 90, 255, 0.9),
    1.3993610016em 0.1074806596em max(0.55vh, 0.55vw) rgba(255, 153, 0, 0.9),
    0.9099816038em 1.4501994062em max(0.55vh, 0.55vw) rgba(255, 45, 0, 0.9),
    0.0123629119em -0.4997209885em max(0.55vh, 0.55vw) rgba(255, 80, 0, 0.9),
    2.2985617718em 0.940593576em max(0.55vh, 0.55vw) rgba(0, 255, 182, 0.9),
    1.4370157739em 2.1233320364em max(0.55vh, 0.55vw) rgba(0, 17, 255, 0.9),
    0.8113781548em -0.3731999059em max(0.55vh, 0.55vw) rgba(0, 217, 255, 0.9),
    1.6674062744em 0.1135360154em max(0.55vh, 0.55vw) rgba(255, 249, 0, 0.9),
    1.6987628876em 0.2211114236em max(0.55vh, 0.55vw) rgba(255, 0, 148, 0.9),
    2.2808188982em 1.6221812061em max(0.55vh, 0.55vw) rgba(0, 10, 255, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

.glitter::after {
  text-shadow: -0.4538613803em 0.92195917em max(0.55vh, 0.55vw)
      rgba(0, 124, 255, 0.9),
    0.2144792605em 1.9176242603em max(0.55vh, 0.55vw) rgba(255, 0, 104, 0.9),
    1.0608867341em -0.0302567729em max(0.55vh, 0.55vw) rgba(0, 255, 160, 0.9),
    0.0953976217em 1.4733994901em max(0.55vh, 0.55vw) rgba(82, 255, 0, 0.9),
    1.5208339445em 2.3489305127em max(0.55vh, 0.55vw) rgba(17, 0, 255, 0.9),
    0.3492764555em -0.1743397739em max(0.55vh, 0.55vw) rgba(179, 0, 255, 0.9),
    1.1187511741em 0.7549702511em max(0.55vh, 0.55vw) rgba(0, 12, 255, 0.9),
    0.8715953995em 0.1590791572em max(0.55vh, 0.55vw) rgba(0, 51, 255, 0.9),
    1.8708565165em 0.5200184279em max(0.55vh, 0.55vw) rgba(0, 255, 231, 0.9),
    0.5909450512em 2.3618157503em max(0.55vh, 0.55vw) rgba(0, 152, 255, 0.9),
    1.9834071564em 0.6544181558em max(0.55vh, 0.55vw) rgba(255, 218, 0, 0.9),
    -0.1565712607em -0.1797320359em max(0.55vh, 0.55vw) rgba(170, 0, 255, 0.9),
    0.0938535689em 0.0629694837em max(0.55vh, 0.55vw) rgba(255, 218, 0, 0.9),
    1.9588771244em 2.4734221809em max(0.55vh, 0.55vw) rgba(167, 255, 0, 0.9),
    1.9601285751em 0.8650740191em max(0.55vh, 0.55vw) rgba(255, 0, 209, 0.9),
    -0.1646993028em -0.1904928022em max(0.55vh, 0.55vw) rgba(255, 226, 0, 0.9),
    -0.0318243165em 0.5936375998em max(0.55vh, 0.55vw) rgba(74, 255, 0, 0.9),
    1.5987429563em 0.3243993786em max(0.55vh, 0.55vw) rgba(69, 0, 255, 0.9),
    1.0438889688em 0.2238749381em max(0.55vh, 0.55vw) rgba(0, 235, 255, 0.9),
    -0.4483990441em 1.0834335091em max(0.55vh, 0.55vw) rgba(60, 0, 255, 0.9),
    0.2125667549em -0.13600972em max(0.55vh, 0.55vw) rgba(23, 255, 0, 0.9),
    2.1140219553em 0.9344160389em max(0.55vh, 0.55vw) rgba(255, 69, 0, 0.9),
    1.6703118506em 0.2533613261em max(0.55vh, 0.55vw) rgba(0, 40, 255, 0.9),
    0.1975266484em 1.7023826154em max(0.55vh, 0.55vw) rgba(22, 255, 0, 0.9),
    0.6063270701em 1.114105293em max(0.55vh, 0.55vw) rgba(255, 0, 149, 0.9),
    -0.4606314554em 1.2652005371em max(0.55vh, 0.55vw) rgba(0, 255, 27, 0.9),
    0.0274263205em 0.592422663em max(0.55vh, 0.55vw) rgba(255, 0, 75, 0.9),
    -0.2394907282em 0.5564544491em max(0.55vh, 0.55vw) rgba(68, 255, 0, 0.9),
    0.6616470007em 0.3988101722em max(0.55vh, 0.55vw) rgba(121, 255, 0, 0.9),
    2.2677925399em 0.6793575718em max(0.55vh, 0.55vw) rgba(14, 0, 255, 0.9),
    0.383745496em -0.2233062013em max(0.55vh, 0.55vw) rgba(0, 133, 255, 0.9),
    0.7571942479em 1.8597592874em max(0.55vh, 0.55vw) rgba(255, 0, 72, 0.9),
    2.321120902em 0.7554914026em max(0.55vh, 0.55vw) rgba(254, 0, 255, 0.9),
    2.2805671664em 0.9651109951em max(0.55vh, 0.55vw) rgba(255, 168, 0, 0.9),
    1.5106474607em 1.6851932005em max(0.55vh, 0.55vw) rgba(0, 82, 255, 0.9),
    0.0285600569em 0.492282114em max(0.55vh, 0.55vw) rgba(255, 156, 0, 0.9),
    1.385779237em 0.9203307979em max(0.55vh, 0.55vw) rgba(255, 110, 0, 0.9),
    0.2381426101em 0.0236458781em max(0.55vh, 0.55vw) rgba(0, 255, 50, 0.9),
    0.1118920818em -0.3356018998em max(0.55vh, 0.55vw) rgba(7, 255, 0, 0.9),
    2.3385680878em 0.1593040056em max(0.55vh, 0.55vw) rgba(255, 178, 0, 0.9),
    2.1977732531em 1.3011410417em max(0.55vh, 0.55vw) rgba(255, 0, 45, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}
