@keyframes slideFromLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
  10% {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
  30% {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(4px);
  }
  45% {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(4px);
  }
  55% {
    opacity: 0.7;
    filter: blur(2px);
  }
  65% {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slideFromTop {
  0% {
    transform: translate(-50%, 0%);
    opacity: 1;
    filter: blur(0px);
  }
  10% {
    transform: translate(-50%, 0%);
    opacity: 1;
    filter: blur(0px);
  }
  25% {
    transform: translate(-50%, -180%);
    opacity: 0;
    filter: blur(4px);
  }
  42% {
    transform: translate(-50%, -180%);
    opacity: 0;
    filter: blur(4px);
  }
  49% {
    opacity: 0.7;
    filter: blur(2px);
  }
  57% {
    transform: translate(-50%, 0%);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
  12% {
    opacity: 0;
    scale: 1.1;
    filter: blur(4px);
  }
  37% {
    opacity: 0;
    scale: 1.1;
    filter: blur(4px);
  }
  55% {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
}

.container:hover .desktopBanner {
  animation-name: slideFromLeft;
  animation-duration: 2.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.container:hover .mobileBanner {
  animation-name: slideFromTop;
  animation-duration: 2.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.container:hover .toast {
  animation-name: fadeIn;
  animation-duration: 2.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.desktopBanner {
  left: 6%;
  top: 12%;
  height: 22%;
  width: 46%;
  border-radius: 0.38rem;
}

.mobileBanner {
  top: 12%;
  height: 12%;
  width: 71%;
}

.toast {
  bottom: 10%;
  height: 12%;
  width: 60%;
}
