.sliderBg {
  /* Fallback */
  background-color: rgb(var(--color-light));

  /* Uses the latest color-mix function */
  background-color: color-mix(
    in srgb,
    rgb(250, 250, 250) 60%,
    rgb(var(--color-light))
  );
}

.sliderTransition {
  transition-property: background-color, color, border-color, left;
  transition-duration: 300ms;
  @apply ease-out;
}
