.picker-grid {
  display: grid;
  gap: 1rem;
  @apply justify-center items-center;
  grid-template-columns: repeat(auto-fit, 3rem);
}

@media (min-width: 768px) {
  .picker-grid {
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, 3.5rem);
  }
}

.selected {
  box-shadow: 0 0 1.6rem 1.4rem rgb(var(--color-middle));
}

@media (min-width: 768px) {
  .selected {
    box-shadow: 0 0 2rem 1.7rem rgb(var(--color-middle));
  }
}

.ring {
  border-width: 2.756px;
  border-color: rgb(var(--color-pastel) / 0.8);
  border-color: color-mix(
    in srgb,
    rgba(230, 230, 230, 0.8) 60%,
    rgb(var(--color-pastel) / 0.8)
  );
}

@media (min-width: 768px) {
  .ring {
    border-width: 3.15px;
  }
}
