.sliderBg {
  background-color: color-mix(
    in srgb,
    rgb(250, 250, 250) 60%,
    rgb(var(--color-light))
  );
}

.sliderTransition {
  transition-property: background-color, color, border-color, left;
  transition-duration: 300ms;
  @apply ease-out;
}

.borderColor {
  border-color: color-mix(
    in srgb,
    rgb(var(--color-saturated)),
    rgb(var(--color-pastel)) 60%
  );
}
