@keyframes halloweenPulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
}

@keyframes halloweenEvent {
  0%,
  100% {
    opacity: 0;
  }
  8%,
  92% {
    opacity: 0.9;
  }
}

@keyframes pumpkinScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3333);
  }
}

@keyframes witchMove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: translateX(-30vw) translateY(-20vw) scale(0.82);
  }
}

.pulse {
  background-image: radial-gradient(
    circle,
    transparent 40%,
    rgba(0, 0, 0, 0.75) 100%
  );
  animation: halloweenPulse 1s ease-in-out;
}

.event {
  background-image: radial-gradient(
    circle,
    transparent 40%,
    rgba(0, 0, 0, 0.75) 100%
  );
  animation: halloweenEvent 10s ease-in-out;
}

.pumpkin {
  animation: pumpkinScale 10s ease-in-out;
}

.witch {
  animation: witchMove 10s ease-in-out;
}
