.cogSize {
  height: min(90vw, 90vh);
  width: auto;
}

@keyframes spin {
  from {
    transform: rotate(calc(0deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
  to {
    transform: rotate(calc(360deg + var(--tw-rotate)))
      translate(var(--tw-translate-x), var(--tw-translate-y));
  }
}

.cogYangPos {
  --tw-translate-y: 28%;
  --tw-translate-x: -28%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cogYinPos {
  --tw-translate-y: -28%;
  --tw-translate-x: 28%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.spinCog {
  animation: spin 30s linear infinite;
}

.spinCogReverse {
  animation: spin 30s linear infinite reverse;
}

.spinRevolution {
  animation: spin 80s linear infinite;
}
