.dragBarContainer {
  width: clamp(4.5rem, 30%, 20rem);
  height: 1.2rem;
}

.dragBarContainer:hover {
  width: clamp(6rem, calc(30% + 1.5rem), 21.5rem);
  height: 1.3rem;
}

.dragBarContainerOn {
  width: clamp(6.75rem, calc(30% + 2.25rem), 22.25rem);
  height: 1.3rem;
}

.dragBarContainerCloseActive {
  width: clamp(4.1rem, calc(30% - 0.4rem), 19.6rem);
  height: 1.2rem;
}

.dragBar {
  width: calc(100% - 1.42rem);
  height: 45%;
}

.closeButtonContainer {
  width: 0.95rem;
  height: 0.95rem;
}

.closeButtonContainer:hover {
  width: 2rem;
  height: 2rem;
}

.mountAnimator {
  transition-property: opacity;
  transition-delay: 10ms;
  @apply duration-300 ease-out;
}

.mountAnimatorTransform {
  transition-property: opacity, transform;
}

.minimizedTranslate {
  transform: translate(calc(50vw - 4rem), calc(50vh - 4rem));
  @apply bottom-0 right-0;
}

.minimizedScale {
  transform: scale(0) translate(-40%, 20%) skew(-20deg, 12deg);
}

.managerTransition {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.48, 0.02, 0.27, 0.96);
  @apply duration-500;
}
