@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

.second-pov-text {
  @apply text-saturated;
}

.katex-html {
  @apply sr-only;
}

@media (dynamic-range: high) {
  .really-bright {
    background-color: color(
      display-p3 1 1 1
    ); /* full white in P3 colour space */
    /* maybe apply filter to boost brightness */
    filter: brightness(2); /* experiment */
  }
}
